### Nix
result
result-*
.direnv/

### Editors
.clj-kondo/
.lsp/
.nrepl-port

# Already included in source: no need to check in. And `_sources/.gitignore` gets deleted by nvfetcher
_sources/**/Cargo.lock
