# https://github.com/direnv/direnv/wiki/Sops

use_sops() {
    local path=${1:-$PWD/secrets.yaml}
    eval "$(sops -d --output-type dotenv "$path" | sed 's/^/TF_VAR_/g' | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use flake
use sops
