[package]
name = "route53-ddns"
version = "0.1.0"
edition = "2024"

[dependencies]
aws-config = { version = "1.6.0", features = [
  "rustls",
  "behavior-version-latest",
] }
aws-sdk-route53 = "1.69.0"
clap = { version = "4.5.32", features = ["derive"] }
hyper = "0.14.32"
hyper-rustls = "0.24.2"
local-ip-address = "0.6.3"
tokio = { version = "1", default-features = false, features = ["rt", "macros"] }

[[bin]]
name = "route53-ddns"
path = "src/main.rs"
